



body {
    font-family:Fakt, sans-serif, Helvetica;
}
/*--------------------------------------------------Menu CSS---------------------------------------------------------------------*/
.container .menu {
    margin-top: 1rem;
    margin-left: 45px;
    margin-right:12px;
}
.container .menu .btn{
    background-color: rgb(81, 194, 81);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    
}
.container .menu .btn:hover {
    background-color: rgb(31, 128, 31)
}
/*---------------------------------------------------Menu CSS---------------------------------------------------------------------*/


/*---------------------------------------------------Second Part---------------------------------------------------------------*/
.container .container-fluid {
    margin-top: 1rem;
    padding-left: 40px;
}
.container .container-fluid h1 {
    margin-bottom: 1rem;
    padding-top: 4rem;
}
.container .container-fluid h4 {
    margin-bottom: 1rem;
}

.column-buttons .btn{
    background-color: rgb(81, 194, 81);
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
}
.column-buttons .btn:hover {
    background-color: rgb(31, 128, 31)
}
/*---------------------------------------------------Second Part---------------------------------------------------------------*/


/*------------------------------------------------Growth revenue part--------------------------------------------------------*/
.static .container .row img {
    margin-left: 2rem;
}
/* First Part*/
.static .container .row .partfirst {
    padding-left: 6rem;
    margin-bottom: 10rem;
}
.static .container .row .partfirst img {
   margin-top: 7rem;
   margin-left: 5rem;
   
}
.static .container .row .partfirst h1 {
    padding-bottom: 1rem;
    padding-top:1rem;
    padding-left: 2rem;
}
.static .container .row .partfirst h5 {
    text-align: center;
    margin-left: -4rem;
    margin-bottom: 2rem;
}
.static .container .row .partfirst a {
    margin-left: 2rem;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    font-size: 16px;
    color:green;
}
.static .container .row .partfirst a:hover {
    text-decoration: underline;
}

/* Second Part*/
.static .container .row .partsecond {
    padding-left: 6rem;
    margin-bottom: 10rem;
}
.static .container .row .partsecond img {
   margin-top: 7rem;
   margin-left: 6rem;
}
.static .container .row .partsecond h1 {
    padding-bottom: 1rem;
    padding-top:1rem;
    padding-left: 3rem;
}
.static .container .row .partsecond h5 {
    text-align: center;
    margin-left: -4rem;
    margin-bottom: 2rem;
}
.static .container .row .partsecond a {
    margin-left: 2rem;
    color: green;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    font-size: 16px;
}
.static .container .row .partsecond a:hover {
    text-decoration: underline;
}

/* Third Part*/
.static .container .row .partthird {
    padding-left: 6rem;
    margin-bottom: 10rem;
}
.static .container .row .partthird img {
   margin-top: 7rem;
   margin-left: 5rem;
}
.static .container .row .partthird h1 {
    padding-bottom: 1rem;
    padding-top:1rem;
}
.static .container .row .partthird h5 {
    text-align: center;
    margin-left: -4rem;
    margin-bottom: 2rem;
}
.static .container .row .partthird a {
    margin-left: 2rem;
    color: green;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

.static .container .row .partthird a:hover {
    text-decoration: underline;
}
/*------------------------------------------------Growth revenue part--------------------------------------------------------*/







/*------------------------------------------------Accept Payment  revenue part--------------------------------------------------------*/
.accept .container .row h1 {
    margin-top: 5rem;
    margin-left: 22rem;
    font-size: 45px;
    font-weight: bolder;
}
.accept .container .row p {
    margin-top: 2rem;
    padding-left: 22rem;
    padding-right: 22rem;
    font-size: 16px;
}
.accept .container .row a {
    margin-top: 1rem;
    margin-right: 2rem;
    color: green;
    text-transform: capitalize;
    font-size: 100%;
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
}
.accept .container .row a:hover {
    text-decoration: underline;
}
/*------------------------------------------------Accept Payment  part-------------------------------------------------------------------------*/


/*------------------------------------------------Two col 6 parts------------------------------------------------------------------------------*/

.container .row .col-lg-5 {
    margin-top: 6rem;
    margin-left: 4rem;
}
.container .row .col-lg-5 img{
    margin-bottom: 2rem;
}
.container .row .col-lg-5 h5{
    margin-bottom: 5px;
    font-weight: bold;
}
.container .row .col-lg-5 p{
    font-weight: lighter;
    font-family: arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.container .col-lg-5 a {
    color: green;
    font-size: 100%;
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: 16px;   
}
.container .col-lg-5 a:hover {
    text-decoration: underline;
}
/*------------------------------------------------Two col 6 parts------------------------------------------------------------------------------*/

/*------------------------------------------------Fourth Part----------------------------------------------------------------------------------*/
.four-part .container-fluid .row  {
    background-color: rgb(9, 9, 36);
    color:white;
}
.four-part .container-fluid .row h1 {
    margin-left: 1.5rem;
    padding-right: 15rem;
    margin-top: 12rem;
    font-weight: bolder;
    
}
.four-part .container-fluid .row p{
    font-weight: lighter;
    font-family: arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px;
    line-height: 30px;
    text-align: left;
    padding-right: 16rem;
    padding-top: 2rem;
    margin-left: 1.5rem;
    font-weight: bolder;
}
/*------------------------------------------------Fourth Part----------------------------------------------------------------------------------*/

/*------------------------------------------------Fiveth Part----------------------------------------------------------------------------------*/

#services  .row h1 {
    padding-top: 13rem;
    margin-left: 8rem;
    margin-right: 5rem;
    font-weight: bolder;
    font-size: 45px;
    
}
#services  .row p {
    margin-top: 2rem;
    margin-left: 8rem;
    margin-right: 5rem;
    font-size: 20px;
}

#services .row img {
    margin-top: 5rem;
    margin-bottom: 7rem;
}

/*------------------------------------------------Fiveth Part----------------------------------------------------------------------------------*/

/*------------------------------------------------Sixth Part----------------------------------------------------------------------------------*/
.payment  .container .row h1 {
    margin-bottom: 2rem;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 5rem;
    
}
.payment  .container .row a {
    color: green;
   
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: 16px;  
}
.payment  .container .row a:hover {
    text-decoration: underline;
}
/*------------------------------------------------Sixth Part----------------------------------------------------------------------------------*/

/*------------------------------------------------Seventh Part----------------------------------------------------------------------------------*/

.container.container-fluid .row   {
    margin-top:5rem;
    margin-left: 4rem;
}
.container-fluid .row .seven h1 {
    margin-left: 7rem;
    padding-top: 10rem;
}
.container-fluid .row .seven h4 {
    margin-left: 7rem;
    font-weight: lighter;
    font-family: arial, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:25px;
    line-height: 30px;
    text-align: left;
    margin-right:7rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.container-fluid .row .seven a {
    margin-left: 7rem;
    color: green;
    font-size: 100%;
    background-color: white;
    border: none;
    text-decoration: none;
    font-size: 16px; 
    font-weight: bolder;
}
.container-fluid .row .seven a:hover {
    text-decoration: underline;
}
/*-----------------------------------------------------Seventh Part-----------------------------------------------------------------------------*/

/*---------------------------------------------------------Eight Part---------------------------------------------------------------------------*/
.static .container .row img {
    margin-top: 3rem;
    max-width: 100%;
}
/* First Part*/
.static .container .row .eightfirst {
    padding-left: 3rem;
   
}

.static .container .row .eightfirst h6 {
    padding-bottom: 1rem;
    padding-top:1rem;
    padding-left: 2rem;
    
}
.static .container .row .eightfirst p {
    text-align: center;
    margin-left: -6rem;
    margin-bottom: 2rem;
}
.static .container .row .eightfirst a {
    margin-left: 2rem;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    font-size: 16px;
    color:green;
}
.static .container .row .eightfirst a:hover {
    text-decoration: underline;
}

/* Second Part*/
.static .container .row .eightsecond {
    padding-left: 2rem;
    
}
.static .container .row .eightsecond h6 {
    padding-bottom: 1rem;
    padding-top:1rem;
    padding-left: 2rem;
}
.static .container .row .eightsecond p {
    text-align: center;
    margin-left: -10rem;
    margin-bottom: 2rem;
}
.static .container .row .eightsecond a {
    margin-left: 2rem;
    color: green;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    font-size: 16px;
}
.static .container .row .eightsecond a:hover {
    text-decoration: underline;
}

/* Third Part*/
.static .container .row .eightthird {
    padding-left: 1rem;
  ;
}

.static .container .row .eightthird h6 {
    padding-bottom: 1rem;
    padding-top:1rem;
    padding-left: 2rem;
}
.static .container .row .eightthird p {
    text-align: center;
    margin-left: -10rem;
    margin-bottom: 2rem;
}
.static .container .row .eightthird a {
    margin-left: 2rem;
    color: green;
    text-transform: capitalize;
    border: none;
    text-decoration: none;
    font-size: 16px;
}
.static .container .row .eightthird a:hover {
    text-decoration: underline;
}
/*---------------------------------------------------------Eight Part---------------------------------------------------------------------------*/

/*---------------------------------------------------------Nine Part---------------------------------------------------------------------------*/

.nine .container-fluid{
    background-color: #54e346;
}.nine .container-fluid h1 {
    padding-top: 5rem;
}
.nine .container-fluid .btn {
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: rgb(9, 9, 36);
    color:white;
    text-transform:none
}

/*---------------------------------------------------------Nine Part---------------------------------------------------------------------------*/
.bg-light .container-fluid  {
    background-color:  rgb(9, 9, 36);
    color: white;
}

.bg-light .container-fluid .row{
    margin-left: 8rem;
    margin-top: 5rem;
    line-height: 30px;
    margin-right: 8rem;
}

.bg-light .container-fluid ul li a {
    color: white;
}
/*--------------------------------------------------Mobile Device Part-------------------------------------------------------------------*/

@media only screen and (max-width: 600px) { 

    .accept .container .row h1 {
        margin-top: 5rem;
        margin-left: 0rem;
        font-size: 320%;
    }
    .accept .container .row p {
        margin-top: 2rem;
        padding-left: 0rem;
        padding-right: 0rem;
        font-size: 100%;
    }

    .accept .container .row a {
        margin-top: 1rem;
        margin-right: 2rem;
        color: green;
        text-transform: capitalize;
        background-color: white;
        border: none;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 12px;
    }
    

    
    .four-part .container-fluid .row h1 {
        margin-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
        
    }
    .four-part .container-fluid .row p{
        font-size:12px;
        padding-right: 1rem;
        padding-top: 1rem;
        margin-left: 1rem;
    }

    #services  .row h1 {
        font-size: 30px;
        padding-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
        
    }
    #services  .row p {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 16px;
    }
    .container-fluid .row .seven h1 {
        margin-left: 1rem;
        padding-top: 1rem;
    }
    .container-fluid .row .seven h4 {
        margin-left: 1rem;
        font-size:12px;
        margin-right:1rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .container-fluid .row .seven a {
        margin-left: 1rem;
    }
    .static .container .row .partfirst {
        margin-bottom: 0rem;
    }
    .static .container .row .partsecond {
        margin-bottom: 0rem;
    }
    .static .container .row .partthird {
        margin-bottom: 0rem;
    }
    .container .row .col-lg-5 {
        margin-top: 6rem;
        margin-left: 0rem;
    }
    .container.container-fluid .row   {
        margin-left: 0rem;
    }
    .container-fluid .row .seven h1 {
        margin-left: 0rem;
    }
    .container-fluid .row .seven h4 {
         margin-left: 0rem;
         margin-right:0rem;
    }
    .container-fluid .row .seven a {
         margin-left: 1rem;
    }
    .bg-light .container-fluid .row{
        margin-left: 0rem;
        margin-top: 5rem;
        line-height: 30px;
        margin-right: 0rem;
        font-size: 7px;
    }
    .bg-light .container-fluid .row h5{
        
        font-size: 10px;
    }
    .container .container-fluid {
        margin-top: 1rem;
        padding-left: 40px;
       
    }
    .container .container-fluid h1 {
        margin-bottom: 1rem;
        padding-top: 4rem;
        font-size: 12px;
    }
    .container .container-fluid h4 {
        margin-bottom: 1rem;
        font-size: 8px;
    }
    .container .container-fluid a {
        margin-bottom: 1rem;
        font-size: 8px;
    }


}
    
@media only screen and (min-width: 600px) and (max-width: 1024px) {

    .accept .container .row h1 {
        margin-top: 5rem;
        margin-left: 13rem;
        margin-right: 6rem;
        font-size: 270%;
        text-align: center;
    }
    .accept .container .row p {
        margin-top: 2rem;
        padding-left: 12rem;
        margin-right: 6rem;
        padding-right: 10rem;
        font-size: 170%;
    }

    .accept .container .row a {
        margin-top: 1rem;
        margin-right: 2rem;
        color: green;
        text-transform: capitalize;
        background-color: white;
        border: none;
        padding: 15px 32px;
        text-decoration: none;
        font-size: 18px;
    }
    

    
    .four-part .container-fluid .row h1 {
        margin-left: 1rem;
        padding-right: 1rem;
        margin-top: 1rem;
        
    }
    .four-part .container-fluid .row p{
        font-size:12px;
        padding-right: 1rem;
        padding-top: 1rem;
        margin-left: 1rem;
    }

    #services  .row h1 {
        font-size: 30px;
        padding-top: 4rem;
        margin-left: 1rem;
        margin-right: 1rem;
        
        
    }
    #services  .row p {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: 16px;
    }
    .container-fluid .row .seven h1 {
        margin-left: 0rem;
        padding-top: 1rem;
    }
    .container-fluid .row .seven h4 {
        margin-left: 0rem;
        font-size:12px;
        margin-right:1rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .container-fluid .row .seven a {
        margin-left: 0rem;
    }
    .static .container .row .partfirst {
        
        margin-bottom: 0rem;
    }
    .static .container .row .partsecond {
      
        margin-bottom: 0rem;
    }
    .static .container .row .partthird {
       
        margin-bottom: 0rem;
    }
    .container .row .col-lg-5 {
        margin-top: 6rem;
        margin-left: 0rem;
    }
    .container .row .col-lg-5 {
        margin-top: 6rem;
        margin-left: 0rem;
    }
    .container.container-fluid .row   {
        margin-left: 0rem;
    }
    .container-fluid .row .seven h1 {
        margin-left: 0rem;
    }
    .container-fluid .row .seven h4 {
         margin-left: 0rem;
         margin-right:0rem;
    }
    .container-fluid .row .seven a {
         margin-left: 1rem;
    }
    .payment .container h1 {
        margin-left: 12rem;
    }
    .payment .container p {
        margin-left: 12rem;
    }
    .payment .container h1 {
        margin-left: 12rem;
    }
    .static .container .row img {
        margin-left: -2rem;
    }
    .static .container .row .eightfirst h6 {
        margin-left: -2rem;
        
    }
    .static .container .row .eightfirst p {
        margin-left: -4rem;
        margin-top: 1rem;
    
    }
    .static .container .row .eightfirst a {
        margin-left: -2rem; 
    }
    .static .container .row .eightsecond h6 {
        margin-left: -2rem;
        
    }
    .static .container .row .eightsecond p {
        margin-left: -4rem;
        padding-top: -1rem;
    }
    .static .container .row .eightsecond a {
        margin-left: -2rem;
    }
    .static .container .row .eightthird h6 {
        margin-left: -2rem;
        
    }
    .static .container .row .eightthird p {
        margin-left: -5rem;
        padding-top: 0rem;
    }
    .static .container .row .eightthird a {
        margin-left: -2rem;
    }
    
    .bg-light .container-fluid .row{
        margin-left: 2rem;
        margin-top: 5rem;
        line-height: 30px;
        margin-right: 2rem;
    }
    .container .container-fluid  {
        font-size: 25px;
    }
    .container .container-fluid h4 {
        margin-bottom: 1rem;
        font-size: 16px;
    }
    .container .container-fluid a {
        margin-bottom: 1rem;
        font-size: 12px;
    }

}
 
@media only screen and (min-width: 1025px) {
    
  
  
}